<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>{{ about.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ about.description }}">
    <meta name="author" content="{{ about.name }}">    
    <meta property="og:title" content="{{ about.name }} - Portfolio" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ about.url }}" />
    <meta property="og:image" content="{{ about.image }}" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href=""/>
    <link rel="shortcut icon" href="{{ about.favicon }}"/>
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/jquery.mousewheel-min.js"></script>
    <script src="js/jquery.terminal-min.js"></script>
    <link href="css/jquery.terminal.css" rel="stylesheet"/>
    <style> 
        body {
            width: 800px;
            font-size: 18px;
        }
    </style>
  </head>
<body>

<script>
jQuery(document).ready(function($) {
    $('body').terminal(function(command, term) {
        commands = command.split(/[ ]+/);

        switch(commands[0]) {
            case 'whois':
                var whois = "Name: \t\t\t{{ about.name }}\n" +
                "Email: \t\t   {{ about.email}}\n" +
                "Location: \t\t{{ about.location }}\n" +
                "Profession: \t  {{ about.profession  }}\n" +
                "Homepage: \t\t{{ about.ext_link }}\n";
                term.echo(whois);
                break;
            case 'about': 
                var about = "{{ about.long_description  }}";
                term.echo(about);
                break;
            case 'social':
                {% if about.twitter_link %}
                    term.echo("Twitter: {{ about.twitter_link }}");
                {% endif %}

                {% if about.gplus_link %}
                    term.echo("G+: {{ about.gplus_link }}");
                {% endif %}

                {% if about.linkedin_link %}
                    term.echo("LinkedIn: {{ about.linkedin_link }}");
                {% endif %}

                {% if about.github_link %}
                    term.echo("GitHub: {{ about.github_link }}");
                {% endif %}
                break;
                
            case 'skills':
                {% for skill in about.skills %}
                    var stars_length = Math.round({{ skill.percentage }} / 20);
                    var stars_filled = Array(stars_length + 1).join("&#9733;")
                    var stars_blank= Array(6 - stars_length).join("&#9734;")
                    term.echo("{{ skill.name }} --> " + stars_filled + stars_blank);
                {% endfor %}
                break;
            
            case 'languages':
                {% for lang in about.languages %}
                    term.echo("{{ lang.name }} - {{ lang.level }}");
                {% endfor %}
                break;
            case 'tools':
                {% for tool in about.tools %}
                    term.echo("&#128295; {{ tool}}");
                {% endfor %}
                break;

            case 'projects':
                {% for proj in about.projects %}
                    term.echo("{{ proj.title }}");
                    term.echo("{{ proj.description }}");
                    term.echo("-----------------------");
                {% endfor %}
                break;


            case 'help':
                term.echo("Available commands are: whois, about, skills, help, social, languages, tools, projects, getyourown")
                break;
            case 'getyourown':
                window.location = "https://github.com/hauckd/terminalCV";
                break;

            case 'docker':
                term.echo("You can't get twitter followers or github stars here ;)");
                break;

            case 'vim':
                term.echo("I love it too, but sadly it's not available here :(");
                break;

            case ':(':
                term.echo("Smile!");
                break;
                

            default: 
                term.echo("unknow command " + command);
        }
    }, {
        prompt: '~ > ',
        greetings: "Welcome to the command line CV of {{ about.name }}" +
        "\n\n" +
        "If you would like the more 'normal'"+ 
        "\n" +
        "version head over to http://{{ about.url }}" +
        "\n\n" +
        "Type 'help' to get a list of commands",
        onBlur: function() {
            return false;
        }
    });
});

</script>
</body>
